@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap%27');
                     
body{
    background-color: rgb(255, 120, 121, 255);
    background-image: url(https://cdn.discordapp.com/attachments/1032390880566464605/1037770064591593625/wallpaper.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.General {
    display: flex;
    flex-wrap: wrap;
    min-height: 375px;
    padding: 5%;
    align-items: center;
    font-size: 35px;
}

.datos {
    margin-top: 10px;
    background: rgb(255, 255 ,255);
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 80%;
}


h1 {
    color: white;
}


.url {
    color: white;
    font-size: 17px;
    width: 80%;
    background: rgb(95, 84, 165, 255);
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

.boton{
    font-size: 15px;
}

button {
    background: rgb(58, 203, 139, 255);
    border-radius: 5px;
    border: 0cm;
    padding: 0px 65px;
    color: white;
    width: 90%;
    height: 30px;
    margin-top: 5px;
    transition-duration: 0.25s;
    font-size: 25px;

}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

input {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0px 40px;
}


#Terminos1 {
    font-size: 10px;
    color: gray;
}


#Terminos2 {
    color: rgb(255, 0, 0);
}

#Terminos2:hover{
    cursor: pointer;
}

.formulario {
    justify-content: center;
    width:  50%;
}

.Complemento {
    margin: 4%;
    color: white;
    text-align: left;
    flex: 2;
    width: 50%;
}
.Complemento h1{
    font-size: 35px;
    width: 100%;
}
.Complemento p{
    font-size: 20px;
    width: 100%;
}

.cuadros{
    border: 1px solid gray;
    border-radius: 8px;
    margin: 3px;
    padding: 0px;
    gap: 2px;
    width: 90%;
    font-size: 20px;
}

@media screen and (max-width: 600px){
    body{
        background-image: url(https://eastus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Fmakaia-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!mXOyXBN2Sk6brgS9aEZdJqzle_f1b9lOriuSQ-tuj5TyJQV5NoFMQIGEgN_RWUOv%2Fitems%2F01ZXQ7PQ2TZ5WIBAB3OVA3TDSTNLCMMORE%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvbWFrYWlhLW15LnNoYXJlcG9pbnQuY29tQDBhNzI2YzNlLTI5YzItNDhjMS05ZDNlLWU4OGVjNjUxYzQyMCIsImlzcyI6IjAwMDAwMDAzLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMCIsIm5iZiI6IjE2Njc4NzY0MDAiLCJleHAiOiIxNjY3ODk4MDAwIiwiZW5kcG9pbnR1cmwiOiI0NXFlekQxbFF1bGMxN0xRbkVuWDFtVFM3a3hGK01KRGxaUFN6a2RwbnVFPSIsImVuZHBvaW50dXJsTGVuZ3RoIjoiMTE2IiwiaXNsb29wYmFjayI6IlRydWUiLCJ2ZXIiOiJoYXNoZWRwcm9vZnRva2VuIiwic2l0ZWlkIjoiTldOaU1qY3pPVGt0TnpZeE15MDBaVFJoTFRsaVlXVXRNRFJpWkRZNE5EWTFaREkyIiwibmFtZWlkIjoiMCMuZnxtZW1iZXJzaGlwfHVybiUzYXNwbyUzYWFub24jN2I0NDY3NjA0YzhlOGU0MjQ5M2JkODE5YWQ0NmE0MGQ1MGNmZjk5NTZlZGM4NGI0ZmJiMDhlN2YwY2Q2OWU0NiIsIm5paSI6Im1pY3Jvc29mdC5zaGFyZXBvaW50IiwiaXN1c2VyIjoidHJ1ZSIsImNhY2hla2V5IjoiMGguZnxtZW1iZXJzaGlwfHVybiUzYXNwbyUzYWFub24jN2I0NDY3NjA0YzhlOGU0MjQ5M2JkODE5YWQ0NmE0MGQ1MGNmZjk5NTZlZGM4NGI0ZmJiMDhlN2YwY2Q2OWU0NiIsInNoYXJpbmdpZCI6IjhScjRCOHRmcFVpcUk1azFlQ2tOdlEiLCJ0dCI6IjAiLCJ1c2VQZXJzaXN0ZW50Q29va2llIjoiMiIsImlwYWRkciI6IjE5MC42MC4zMy4xNzEifQ.NmhVcGpvenJhb0ZPZE5taFRSVlVoZytQMm1yODZtdi9EbzFRaGgxSTV0WT0&cTag=%22c%3A%7B806CCF53-3B80-4175-B98E-536AC4C63A24%7D%2C1%22&encodeFailures=1&width=230&height=613&srcWidth=375&srcHeight=1000);
        background-size: cover;
    }

    .datos{
        text-align: center;
        justify-content: center;
        width: 50vh;

    }
    .url{
        justify-content: center;
        width: 50vh;
    }
    .Complemento h1{
        text-align: center;
        justify-content: center;
        font-size: 20px; 
        width: 100%;
    }
    .Complemento p{
        text-align: center;
        padding: 0;
        justify-content: center;
        font-size: 15px;
        width: 50vh;
    }
    button{
        font-size: 15px;
    }
}